@import "styles/variables.scss";
@import "styles/mixins.scss";

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    text-align: center;
    font-family: $code-font-stack;
    font-size: $font-size-md;
    cursor: pointer;
    border-radius: 6px;
    padding: 0.64rem 0.85rem;
    border: 1px solid rgba($dark-subtitle-colour, 0.3);
    transition: background 0.2s, color 0.2s, transform 0.1s ease-in-out;
    
    svg {
        height: 1.2rem;
        width: 1.2rem;
    }

    &:hover {
        transform: translateY(-1px);
    }

    &:active {
        transform: scale(0.96);
    }

    &.primary {
        background: rgba(#0d0d11, 0.7);
        color: $dark-text-colour;

        &:hover {
            background: $light-background-colour;
            color: $light-text-colour;
        }
    }

    &.secondary {
        background: rgba(#0d0d11, 0.5);
        color: $dark-text-colour;
    }

    &.tertiary {
        background: none;
        border: none;
        text-decoration: underline;
        color: $primary;
    }

    &.callToAction {
        background: $cool-grey-400;
    }

    &.circular {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: $spacing-sm;

        svg {
            height: 30px;
            width: 30px;
        }
    }

    .icon {
        display: inline-flex;
        align-items: center;

        &.inset {
            @include inset-shadow;
            border-radius: 50%;
            padding: 5px;
            margin: -5px 0;
            width: 1rem;
            height: 1rem;
        }
    }

    &::after {
        content: attr(aria-label);
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateX(-20%) translateY(-50%);
        background-color: $primary;
        color: $dark-text-colour;
        font-size: $font-size-sm;
        padding: $spacing-xxs $spacing-xs;
        border-radius: 6px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, transform 0.3s ease;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    }

    &:hover::after {
        opacity: 1;
        visibility: visible;
        transform: translateX(10px) translateY(-50%);
    }

    &.horizontal::after {
        left: 50%;
        top: 100%;
        transform: translateX(-50%) translateY(-20%);
    }

    &.horizontal:hover::after {
        transform: translateX(-50%) translateY(10px);
    }
}

.linkButton {
    text-decoration: none;
}

.anchor {
    text-decoration: none;
    color: inherit;
}
