@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: none;
  background-color: $primary;
  border-radius: 50%;
  margin: $spacing-sm;
  cursor: pointer;
  transition: background-color 200ms ease;

  svg {
    color: $dark-text-colour;
    height: 30px;
    width: 30px;
  }

  &:hover {
    background-color: $primary-600;
  }

  &::after {
    content: attr(aria-label);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateX(-20%) translateY(-50%);
    background-color: $primary;
    color: $dark-text-colour;
    font-size: $font-size-sm;
    padding: $spacing-xxs $spacing-xs;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 200ms ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  }

  &:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(10px) translateY(-50%);
    background-color: $primary-600;
  }

  &.horizontal {
    &::after {
      left: 50%;
      top: 100%;
      transform: translateX(-50%) translateY(-20%);
    }

    &:hover::after {
      transform: translateX(-50%) translateY(10px);
    }
  }
}
