.terminal {
    background: #1e1e1e;
    border-radius: 5px;
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    font-family: "Courier New", Courier, monospace;
    border: 1px solid #444;
    overflow: hidden;
}

.header {
    background: #333;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #ddd;
    font-size: 0.5rem;
    border-bottom: 2px solid #444;
    position: relative;
    font-family: "SF Mono", monospace;
}

.header .dots {
    position: absolute;
    left: 10px;
    display: flex;
    gap: 6px;
}

.header .header-icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    object-fit: contain;
}


.dots {
    position: absolute;
    left: 10px;
    display: flex;
    gap: 6px;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.body {
    flex: 1;
    font-size: 0.6rem;
    color: white;
    padding: 10px;
}

.commandLine {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.prompt {
    color: #33ff33;
    margin-right: 5px;
}

.command {
    color: white;
}

.commandOutput {
    color: #bbb;
    padding-left: 1.5rem;
}

.scriptLog {
    margin-top: 4px;
    color: #999;
    font-style: italic;
}