@import "../../../styles/variables.scss";

.webpage-title {
  font-family: $code-font-stack;
  font-size: $font-size-xxl; // Matches 32px from SCSS
  font-weight: 700;
  color: $light-text-colour; // Light text color for dark mode
  text-align: center;
  margin-top: $spacing-md;

  .diamond {
    display: inline-block;
    transition: color 0.5s ease-in-out; // Smooth transition
  }
}
