@import "../../../styles/variables.scss";

.navbarHorizontal {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-sm;
    background-color: $dark-background-colour;
    color: $light-text-colour;
    border-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 0px;
    z-index: 1000;

    max-width: 400px;
}

@media screen and (max-width: $md) {
    .navbarHorizontal {
        flex-direction: column;
        padding: $spacing-xs;
        row-gap: $spacing-xs;
        max-width: 100%;
    }
}
