@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.screenContainer {
  width: 333px; // Adjust width dynamically later
  height: 216px; // Adjust height dynamically later
  background: $dark-background-colour; // Use dark mode background
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.innerContent {
  width: 100%;
  height: 100%;
  font-family: $code-font-stack;
  font-size: $font-size-md;
  color: $dark-text-colour;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
